<%- include("header"); -%>
<section id="about">
    <h1 class="about-title text-dm">About Us</h1>
    <h3 class="about-text-dm we-text-dm">
        We believe that all  women have potential in them which is waiting to be unlocked.

This site aims to aware the new comers  who don't have much idea about what goes around in technical industries about the myriad of opportunities they can avail. 

It's a one stop destination, for gathering info about latest trends in tech, internship opportunities, various scholarship programmes offered to the YES! US! Women in Tech! 😁, also the Research facilities for us, and finally the most important of all, getting the details of job offerings.

The Blog section is  cherry🍒 on the top! 

Built by us, for us and for the betterment of us ✌🕊
        <br>
    </h3>
</section>

<section id="developers">
    <div>
        <h1 class="dev-heading text-dm">Our Team</h1>
        <div class="card-group">
            <div class="card text-dark text-center team-card">

                <img src="images/kalpana.png" class="my-img img-fluid" alt="kalpana-img">
                <div class="middle">
                    <div class="text">
                        <a href="https://www.facebook.com/chinu.khutela.9" target="_blank"><i
                                class="fab fa-facebook-f my-icon"></i></a>
                        <a href="https://www.instagram.com/chi_nu2000/" target="_blank"> <i
                                class="fab fa-instagram my-icon"></i></a>
                        <a href="mailto:chinukhutela2000@gmail.com" target="_blank"> <i
                                class="fas fa-envelope my-icon"></i> </a>

                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title we-text-dm">Kalpana</h3>
                    <a href="https://github.com/Kalpana200" class="btn btn-light custom-btn">Github</a>
                    <a href="https://www.linkedin.com/in/kalpana-khutela-a117861a4/" class="btn btn-light custom-btn">LinkedIn</a>
                </div>
            </div>
            <div class="card text-dark text-center team-card">

                <img src="images/vaishnavi.png" class="my-img img-fluid" alt="vaishnavi-img">
                <div class="middle">
                    <div class="text">
                        <a href="https://www.facebook.com/vaishnavijain1234" target="_blank"><i
                                class="fab fa-facebook-f my-icon"></i></a>
                        <a href="https://www.instagram.com/_vaishnavi9/" target="_blank"> <i
                                class="fab fa-instagram my-icon"></i></a>
                        <a href="mailto:vaishnavijain999@gmail.com" target="_blank"> <i
                                class="fas fa-envelope my-icon"></i> </a>

                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title we-text-dm">Vaishnavi</h3>
                    <a href="https://github.com/vaishnavi1909" class="btn btn-light custom-btn">Github</a>
                    <a href="https://www.linkedin.com/in/vaishnavi-jain-2767891a4/" class="btn btn-light custom-btn">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("footer"); -%>