<%- include("header"); -%>
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/c1.jpg" class="d-block w-100" height="400px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/c2.jpg" class="d-block w-100" height="400px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/c4.jpg" class="d-block w-100" height="400px" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 blog-card text-center" style="max-width: 540px;">
          <div class="row g-0">

           
              <div class="card-body">
                <h4 class="card-title" style="font-size:30px;"><strong> Read blogs here</strong></h4>
                <h4>Find inspiration around you</h4>
                <p class="card-text">Read some amazing experiences of girls placed in tech companies and get inspire from them.</p>
                  <form action="/readBlog" method="POST">
                    <button class="btn btn-lg btn-outline-dark" type="submit">View blogs</button>
                </form>
              </div>
       
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3 blog-card text-center" style="max-width: 540px;">
          <div class="row g-0">

           
              <div class="card-body">
                <h4 class="card-title" style="font-size:30px;"><strong> Create your own blog here </strong></h4>
                <h4>Start blogging today</h4>

                <p class="card-text">You have complete control, create, customize and share your tech knowledge with the world.</p>
                  <form action="/compose" method="POST">
                    <button class="btn btn-lg btn-outline-dark" type="submit">Compose blog</button>
                </form>
              </div>
        
           
          </div>
        </div>
      </div>
    </div>
  </div>







  <%- include("footer"); -%>
