<%- include("header"); -%>


    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_dv3etasb.json" background="transparent" speed="3"
        loop="" autoplay="false" class="player">
    </lottie-player>

    <h1 class="text-dm">MissTech</h1>
    <p class="content-dm content">A place for women to increase their visibility in  the field of technolgy.</p>
    <h6 class="quote-dm"><i>"The path from dreams to success does exist. May you have the vision to find it, courage to get onto it and the preservance to follow it."</i></h5>
    
    

<%- include("footer"); -%>
