<%- include("header"); -%>

    <img src="images/code.jpg" alt="" width="100%" height="100%" class="job-img">
    <form action="/jobs" method="POST">
        <h2 class="jobsearch-title1">It's time to start living the life we've imagined</h2>
        <h4 class="jobsearch-title">So take your first step and search your dream job here!!!</h4>
        <div class="jobsearch">
           
            <div>
                <label for="" class="label-text">Job:</label>
                <input type="text" name="category" placeholder="e.g. Web Developer">
            </div>
            <div>
                <label for="" class="label-text">Country:</label>
                <input list="countries" name="country" type="text" placeholder="e.g. India">
                <datalist id="countries">
                    <option value="United Kingdom">
                    <option value="Austria">
                    <option value="Australia">
                    <option value="Brazil">
                    <option value="Canada">
                    <option value="Germany">
                    <option value="France">
                    <option value="India">
                    <option value="Italy">
                    <option value="Netherlands">
                    <option value="New Zealand">
                    <option value="Poland">
                    <option value="Russia">
                    <option value="Singapore">
                    <option value="United States">
                    <option value="South Africa">
                </datalist>
            </div>
            <div>
                <label for="" class="label-text">Location:</label>
                <input type="text" name="location" placeholder="e.g. Delhi">
            </div>
            
            <div>
                <button class="btn btn-lg btn-dark" style="margin-top:7px;">Search</button>
            </div>
        </div>
    </form>






    <%- include("footer"); -%>