body{
    background-color: #121212;
    font-family: 'PT Sans', sans-serif;
}

.mode{
   text-align:right;
}


.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
    
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
   
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: #222;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 37px;
  
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  

.emoji-slider{
    padding-left : 7px;
    padding-top : 0px;
    text-align:left;
}

.light-mode {
    background-color: #f8f9fa;
  }

  .web-name{
    font-family: 'Kanit', sans-serif;
    font-size : 30px;
  }

.nav-content{
    text-align: right;
    padding-right:0px;
}

.nav-custom{
  background-color: #121212;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-link{
  transition: none;
}
.btn:active,
 .btn:focus,
 .btn.active {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }


.input-class{
  width:50%;
}

.player{
  margin : auto;
}

.text-lm{
  text-align: center;
  color: #214151;
  font-size:3.5vw;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  padding-top : 15px;

}

.text-dm{
  text-align: center;
  color: #bb86fc;
  font-size: 43px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  padding-top : 15px;
}

.content-dm{
  color:#03dac6;
  font-size : 2.2vw;
  text-align: center;
}

.content-lm{
  color: #025955;
  font-size : 2.2vw;
  text-align: center;
  font-weight: 600;
}

.player{
  width: 400px;
  height: 350px;
}

.custom-card-dm{
  background-color: transparent;
  border : 1px solid #bb86fc;
  width : 50%;
  margin : auto;
  margin-bottom : 20px;
  color : white;
}

.custom-card-lm{
  background-color: transparent;
  border : 2px solid #214151;
  width : 50%;
  margin : auto;
  margin-bottom : 20px;
  color : black;
}

.job-img{
  position: absolute;
  z-index : -1;
}

.jobsearch{
  z-index : 1;
  float : right;
  margin-top : 20px;
  padding-right : 100px;
 
}

.jobsearch-title{
  text-align: center;
}

.jobsearch-title1{
  text-align: center;
  font-weight: bold;
  margin-top : 20px;
}

.sirj-heading{
  font-size:30px; 
  padding-top:10px;
}

.sirj-content{
  font-size:20px; 
  padding-left:40px; 
  padding-right:40px;
}

input[type=text], select {
  width: 100%;
  padding: 9px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-img{
  position : absolute;
  z-index: -1;
}

.contactUs{
  z-index: 1;
  float: right;
  padding-right:50px;
  padding-top:20px;
}

.contact-heading{
  text-align: center;
}

.label-text{
  font-size: 20px;
  font-weight: bold;
  color:black;
}

.input-text{
  border-radius: 4px;
  border: 2px solid black;
}



.dev-heading{
  
  text-align: center;
  font-size:50px;
  margin-bottom:30px;
}

.team-card{
  margin:20px;
  background-color: transparent;
  border:none;
}

.my-img{
  width:300px;
  margin:auto;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.middle {
 transition: .5s ease;
 opacity: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
}
.team-card:hover .my-img {
 opacity: 0.3;

}

.team-card:hover .middle {
 opacity: 1;
}

#developers{
  margin-bottom:20px;
}

.my-name{
  color: white;
  font-size:30px;
  margin-bottom:20px;
  margin-top:20px;
}


.my-icon{
  margin:12px;
  color:white;
  font-size:30px;
}

.vacancy{
  padding-bottom: 30px;
}


.blog-card{
  margin-top:70px;
  border : 2px solid black;
}

.publish-btn{
  margin-top : 30px;
}

.compose{
  margin : auto;
  height : 700px;
  width : 55%;
  background: linear-gradient(110deg,  #d3e0ea 60%, #f4f9f9 40%);;
  border-color: black;
  border-radius : 4px;
  z-index: 1;
}

.post-class{
  border : 2px solid black;
  border-radius: 4px;
}

.bg-img{
  position : absolute;
  z-index : -1;
}

.blog-title{
  font-weight: bold;
  font-size : 3.5vw;
}

.blog-writer{
  font-size: 2vw;
}

.single-blog{
  padding-top : 50px;
  padding-left : 30px;
}

.blog-content{
  font-size:1.25vw;
}

.about-text-dm{
  font-size:20px;
  color: white;
  text-align: center;
  padding:35px;
}

.we-text-dm{
  color:white;
}

.we-text-lm{
  color:black;
}

.quote-dm{
  color:white;
  text-align: center;
  font-size: 1.4vw;
}

.quote-lm{
  color : black;
  text-align: center;
  font-weight: 500;
  font-size: 1.4vw;
}

.sirj-card{
  margin-top : 30px;
}

.compose-dm{
  color:white;
  font-size:3.5vw;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  padding-top : 15px;
  text-align: center;
}

.compose-lm{
  color:black;
  font-size:3.5vw;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  padding-top : 15px;
  text-align: center;
}



@media (max-width:550px){
  .player{
      width : 300px;
      height : 200px;
  }
}

@media (max-width:476px){
  .sir-btn{
    margin-bottom : 15px;
  }
}

@media (max-width:600px){
  .text-dm{
    font-size: 30px;
  }

  .text-lm{
    font-size: 30px;
  }

  .sirj-heading{
    font-size:20px;
  }

  .sirj-content{
    font-size:15px; 
    padding-left:40px; 
    padding-right:40px;
  }

}

@media (max-width:800px){

  .my-img{
    width : 200px;
  }
}
